<mat-toolbar>
  <span>Generator Cycle</span>
</mat-toolbar>
<p>This little program will cycle through the primitive roots of P, starting with G</p>
<mat-grid-list cols="2" rowHeight="5:1">
  <mat-grid-tile>
    <mat-form-field appearance="fill" >
      <mat-label>G</mat-label>
      <input matInput [formControl]="generator" required>
      <mat-error *ngIf="generator.invalid">This is not a valid, whole number greater than 1</mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>P</mat-label>
      <input matInput [formControl]="prime" required>
      <mat-error *ngIf="prime.invalid">This is not a valid, whole number greater than 1</mat-error>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="Primary" (click)="start()" [disabled]="begun">Start</button>

  </mat-grid-tile>
  <mat-grid-tile>
      roots: {{current}} count: {{cycleCount}}
  </mat-grid-tile>
</mat-grid-list>

<img *ngIf="disapproval" src="/assets/50vj1x.jpg" alt="That's not a primitive root"/>
